:root {
    --main-bg-color: #172937;
    --text-color: white;
    --highlight-color: rgb(255, 175, 36);
    --gray-color: grey;
    --dark-bg-color: #253644;
    --border-radius: 15px;
    --image-background: white;
    --list-heading: grey;
    --base-font-size: 16px;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    color: var(--text-color);
}
body {
    background-color: var(--main-bg-color);
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
}

.secondary-text{
    color: var(--text-color);
    font-size: var(--base-font-size);
}
.h2_heading {
    margin-top: 2%;
}

.main_div > * {
    margin-bottom: 20px;
}

.line {
    width: 5%;
    height: 5px;
    background-color: var(--highlight-color);
    border: var(--highlight-color);
    border-radius: 2px;
}


.container{
    background-color: var(--main-bg-color);
    margin-top: 70px;
    padding-left: 0;
    padding-right: 0;
    color: white;
    padding: 20px;
    padding-bottom: 40px;
}
.main_div{
    padding: 20px;
    background-color: var(--dark-bg-color);
    border-radius: 25px;
    margin-bottom: 20px;
}
.sidebar{
    background-color: var(--dark-bg-color);
    height: 100%;
    border-radius: 25px;
    position: sticky;
    top: 30px;
    margin-bottom: 10px;
    padding: 10px; 
    margin-bottom: 20px;
}
.image {
    margin-top: 2px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--image-background);
    border-radius: 25px;
    height: 150px;
    width: 150px;
    margin-bottom: 5px;
}
.name{
    color: var(--text-color);
    margin-top: 5%;
    margin-bottom: 5%;
}
.year{
    background: var(--main-bg-color);
    border-radius: 15px;
    margin-top: 5%;
    margin-bottom: 10%;
}
p {
    color: var(--text-color);
    font-size: 15px;
    line-height: 1.6;
}

.w-i-m-row-item{
    background-color: var(--main-bg-color);
    border-radius: 25px;
}

.container-fluid{
    background-color: var(--main-bg-color);
    padding-top: 10px;
    width: 85%;
    padding-bottom: 10px;
    
}

@media only screen and (max-width: 992px) {
 
    .contact_details{
        visibility: hidden;
        max-height: 0;
        max-width: 0;
    }
    .social_icon{
        visibility: hidden;
    }

    .container-fluid{
        width: 85%;
    }

    .logo{
        margin-right: 20px;
    }
    .image {
        margin-left: 2%;
        margin-bottom: 3%;
        margin-right: 5%;
        margin-top: 3%;
    }
    .name{
        font-size: 15px;
    }
    .main_div{
        width:100%;
    }
    .sidebar{
        position: static;
        justify-content: center;
        align-items: center;

    }
    .secondary-text{
        font-size: 14px;
    }
    
}

@media only screen and (max-width: 768px) {

    .contact_details{
        visibility: hidden;
        max-height: 0;
        max-width: 0;
    }
    .social_icon{
        visibility: hidden;
    }

    .container-fluid{
        width: 85%;
    }

    .logo{
        visibility: hidden;
    }
    .image {
        margin-left: 2%;
        margin-bottom: 3%;
        margin-right: 5%;
        margin-top: 3%;
    }
    .name{
        font-size: 12px;
    }
    .main_div{
        width:100%;
    }
    .sidebar{
        position: static;
        justify-content: center;
        align-items: center;

    }
    .secondary-text{
        font-size: 14px;
    }
}

@media only screen and (max-width: 480px) {

    .contact_details{
        visibility: hidden;
        max-height: 0;
        max-width: 0;
    }
    .social_icon{
        visibility: hidden;
    }

    .container-fluid{
        width: 85%;
    }

    .logo{
        visibility: hidden;
    }
    .image {
        margin-left: 2%;
        margin-bottom: 3%;
        margin-right: 5%;
        margin-top: 3%;
    }
    .name{
        font-size: 15px;
    }
    .main_div{
        width:100%;
    }
    .sidebar{
        position: static;
        justify-content: center;
        align-items: center;
    }
    .secondary-text{
        font-size: 14px;
    }
}
